.navbar-brand h4{
    font-weight: bolder !important; 
}
a{
    font-weight: bold !important;
}
.back-color{
    background-color: #eee;
}
.btn{
    border-radius: 20px !important;
}
.main-con1{
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    font-weight: bold !important;
}
.bi::before{
    vertical-align: middle !important;
}
.video1{
    font-weight: bold !important;
    font-size: 15px;
}
.btn1{
    
    border-radius: 30px !important;
    letter-spacing: 1px;
}
.bi{
    font-size: 23px;
}
.about{
    text-align: center;
}
.learn-about{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
.about-us{
    color: rgb(255, 0, 0);
}
.about-img{
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat; 
    background-position:  center;
    background-size: cover;
}
.book-con{
    background-color: white;
    margin-bottom:5%;
    margin: 0px 9%;
    padding: 2% 10%;
    text-align: center;
    font-weight: bold;
}
.book-no{
    font-size: 20px;
}
.right-con{
    display: flex;
    flex-direction: row;
    align-items: start;
    align-self: stretch;
}
